body {
    font-family: sans-serif, Georgia, serif;
    margin-top: 30px; 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 900px;
}

ol {
    list-style: none;
    list-style-position: outside;
    padding-left: 0px; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

ol li::before {
    content: attr(data-label);
    font-weight: normal;
    /* font-style: italic; */
    color: #000;
    margin-right: 0px;
    display: inline-block; /* Allows for width to take effect */
    width: 15px; /* Set a fixed width for the label */
    text-align: left; /* Align the label text to the right */
}

ol li {
    padding-left: 40px; /* Space for label width and margin */
    text-indent: -20px; /* Pull the first line back to align with label */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    list-style-position: outside;
    padding-left: 20px; /* Remove default padding */
    margin: 0px; /* Remove default margin */
    margin-right: 0px;
}
ul li {
    padding-left: 20px; /* Space for label width and margin */
    text-indent: 0px; /* Pull the first line back to align with label */
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#photo img {
    width: 360px;
    margin: 5px;
}

a {
    color: #2b6dd7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

.icons img {
    width: 28px;
    border: 1px solid transparent;
}

.icons img:hover {
    border-radius: 3px;
    border: 1px solid #afafaf;
}

h2 {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    border-bottom: 1px solid #7c7c7c;
}
h3 {
    text-indent: 0px;
    margin-top: -0.1em;
    margin-bottom: -0.05em;
}